body {
    background-color: #181f2a;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    font-size: 14px;
    color: #efefef;

}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    line-height: 1.5;
}

/*TITLE SECTION*/
#title {
    background-color: #1c2431;
    padding: 3% 7% 3%;
    background-image: url(../images/bg-curvy-desktop.svg);
    background-position: bottom;
    background-size: 100%;
    background-repeat: no-repeat;
}

.logo-image {
    width: 15%;
}

/*NAVIGATION LINKS*/

#title a {
    margin-right: 30px;
    color: #dedede;
    border-bottom: 1px solid transparent;
    transition: all .2s;
}

#title a:hover {
    color: #fff;
}

.intro-image {
    padding: 5% 0% 0%;
}

.intro-heading {
    text-align: center;
    padding: 5% 20% 0% 20%;
    letter-spacing: 1.8px;
    line-height: 1.5;
}

#title p {
    font-size: 120%;
    padding: 1.1% 30% 2%;
    line-height: 1.5;
}

.heading-action {
    border-radius: 200px;
    padding-right: 4%;
    padding-left: 4%;
    background-color: #339ecc;
}

/*FEATURES*/
#features {
    padding: 3% 7% 3%;
}

.feature-box {
    margin: 0 5% 10%;
}

.feuture-icon {
    padding: 0 0 5%;
}

.large-feature-icon {
    padding-bottom: 2.5%
}

#features p {
    letter-spacing: .1px;
    padding: 0 10%;
    font-size: 115%;
}

/*HOW IT WORKS SECTION*/

#how-it-works {
    padding: 3% 7% 10% 7%;
}

#how-it-works img {
    display: inline-block;
    float: left;
}

.how-it-works-box {
    padding-top: 10%;
    text-align: left;
    font-size: 115%;
}

.how-it-works-box h2 {
    line-height: 1.2;
    padding-bottom: 2.5%;
}

.how-it-works-box p {
    padding-right: 12%
}

.how-it-works-box a {
    color: #65e2d9;
    border-bottom: 1px solid;
    text-decoration: none;
    padding-bottom: 1.5px;
    transition: all 0.15s;
}

.how-it-works-box a:hover {
    color: #339ecc;
}

/*TESTIMONIALS SECTION*/
#testimonials {
    padding: 3% 7% 20% 7%;
    background-image: url(../images/bg-quotes.png);
    background-repeat: no-repeat;
    background-position: left 7% top 0;
}

#testimonials p {
    padding: 0px;
}

.testimonial-box {
    background-color: #202a3c;
    margin: 5px;
    padding: 15px;
    border-radius: 15px;

}

#testimonials cite {
    display: block;
}

#testimonials img {
    border-radius: 200px;
    width: 10%;
    margin-right: 5px;
}

/*CALL TO ACTION*/
#cta {
    padding: 0% 7% 0%;
    background-color: #0b1523;
}

.cta-box {
    background-color: #202a3c;
    width: 70%;
    padding: 30px;
    margin: 0 auto;
    position: relative;
    bottom: 50%;
    border-radius: 15px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.28);
}

.cta-button {

    margin: 5px;
}

#cta input {
    padding: 10px 20px 15px 20px;
    border-style: none;
    border-radius: 200px;
    margin-right: 15px;

}

#cta h3 {
    font-weight: bold;
    font-size: 300%
}

/*FOOTER SECTION*/

#footer {
    background-color: #0b1523;
    padding: 0 7% 3%;
    text-align: left;
}

.footer-icon {
    display: inline-block;
    position: relative;
    top: 20px
}

#footer p {
    display: inline-block;
    position: relative;
    left: 20px
}

#footer ul {
    margin-top: 20px;
}

.footer--list {
    padding-left: 80px
}

#footer li {
    list-style: none;
}

#footer a {
    color: #efefef;
    margin
}

.social-icons {
    padding: 20px;
    text-align: right;
}

.social-icons a {
    margin: 0 20px;
    color: aqua;
}

#footer a:hover {
    color: #c4c4c4;
}

/*MEDIA QUERIES*/

@media(max-width: 992px) {

    h1 {
        font-size: 230%
    }

    #title p {
        font-size: 105%;
        padding: 1.1% 5% 5%;
        line-height: 1.5;
    }

    #title {
        background-image: url(../images/bg-curvy-mobile.svg);
    }

    .logo-image {
        width: 30%;
    }

    .intro-image {
        width: 100%
    }

    #features {
        padding: 10% 7% 10%;
    }

    #how-it-works img {
        width: 100%;
        text-align: center;
    }

    .how-it-works-box {
        padding-top: 10%;
        text-align: center;
    }

    .how-it-works-box p {
        padding-right: 0;
    }

    #cta input {
        padding: 10px 10px 10px 10px;
        width: 100%;
        margin-bottom: 10px;
        margin-top: 15px;
    }

    .cta-box {
    width: 100%;
    
}
    
    #testimonials {
        padding: 3% 7% 100% 7%;
        background-image: url(../images/bg-quotes.png);
        background-repeat: no-repeat;
        background-position: left 7% top -;
    }
    
    .testimonial-box {
    margin-top: 10%
}

    .footer--list {
        padding-left: 00px
    }
}
